project/stack/BeanToFlow/BasicUI/test2.js
[{ "id": "91caa92b.1e3b64", "label": "textBox4", "disabled": false, "info": "", "nodes": [{ "id": "722cd6d0.5a1fa8", "type": "ui_text_input", "z": "91caa92b.1e3b64", "name": "Text3", "label": "Text3", "tooltip": "", "group": "2bfdc232.80526e", "order": 1, "width": 0, "height": 0, "passthru": true, "mode": "text", "delay": "10", "topic": "TextInput", "x": 570, "y": 240, "wires": [["9ab35f16.eb4ea", "5bc04304.fb33bc"]] }, { "id": "52a85c3e.148104", "type": "function", "z": "91caa92b.1e3b64", "name": "Clear", "func": "msg.payload = null;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 330, "y": 240, "wires": [["722cd6d0.5a1fa8"]] }, { "id": "43580ac8.75c8b4", "type": "function", "z": "91caa92b.1e3b64", "name": "Set_Text", "func": "console.log(msg);\nreturn msg;", "outputs": 1, "noerr": 0, "x": 340, "y": 360, "wires": [["722cd6d0.5a1fa8"]] }, { "id": "9ab35f16.eb4ea", "type": "function", "z": "91caa92b.1e3b64", "name": "TextChanged", "func": "if(msg.topic==\"TextChanged\")    \n    msg.payload = \"textChanged\";\nreturn msg;", "outputs": 1, "noerr": 0, "x": 850, "y": 240, "wires": [["bd4ad535.663e88"]] }, { "id": "5bc04304.fb33bc", "type": "function", "z": "91caa92b.1e3b64", "name": "EventGetPropRet", "func": "if(msg.topic == \"GetProp\"){\n    return msg;\n}\n", "outputs": 1, "noerr": 0, "x": 870, "y": 360, "wires": [["a48c954c.a00088"]] }, { "id": "9d5220b8.a565e", "type": "link in", "z": "91caa92b.1e3b64", "name": "link_in_Clear", "links": [], "x": 155, "y": 240, "wires": [["52a85c3e.148104"]] }, { "id": "ede11656.f84be8", "type": "link in", "z": "91caa92b.1e3b64", "name": "link_in_Set_Text", "links": [], "x": 155, "y": 360, "wires": [["43580ac8.75c8b4"]] }, { "id": "983f05d1.7fd7a8", "type": "function", "z": "91caa92b.1e3b64", "name": "GetProp", "func": "msg.topic = \"GetProp\";\nreturn msg;", "outputs": 1, "noerr": 0, "x": 340, "y": 480, "wires": [["5bc04304.fb33bc"]] }, { "id": "bfe40794.b479a8", "type": "link in", "z": "91caa92b.1e3b64", "name": "link_in_GetProp", "links": [], "x": 155, "y": 480, "wires": [["983f05d1.7fd7a8"]] }, { "id": "bd4ad535.663e88", "type": "link out", "z": "91caa92b.1e3b64", "name": "link_out_TextChanged", "links": [], "x": 1075, "y": 240 }, { "id": "a48c954c.a00088", "type": "link out", "z": "91caa92b.1e3b64", "name": "link_out_EventGetPropRet", "links": [], "x": 1075, "y": 360 }] }]