project/stack/LinksTemplateJson/Imcompable_Link.js
[{ "id": "3c6e2c95.3c6e8", "label": "ImcompableLink", "disabled": false, "info": "", "nodes": [{ "id": "8d81a050.63fda", "type": "link in", "z": "3c6e2c95.3c6e8", "name": "linkin_addtoken", "links": ["ka0fbvvm.mr60a1"], "x": 535, "y": 320, "wires": [["610ee1c8.d1a2e"]] }, { "id": "8965bec.72b864", "type": "link out", "z": "3c6e2c95.3c6e8", "name": "linkout_addtoken", "links": ["u5ppafxb.70uvve"], "x": 1155, "y": 320 }, { "id": "610ee1c8.d1a2e", "type": "function", "z": "3c6e2c95.3c6e8", "name": "AddToken", "func": "console.log(\"add token\");\nmsg.token = \"ux1le01xxs\";\nreturn msg;", "outputs": 1, "noerr": 0, "x": 850, "y": 320, "wires": [["8965bec.72b864"]] }, { "id": "2782909d.0cba4", "type": "link in", "z": "3c6e2c95.3c6e8", "name": "linkin_checktoken", "links": ["1o7qjb6c.bngqse"], "x": 535, "y": 540, "wires": [["2d2dfeee.d0d9e2"]] }, { "id": "7c504076.3bd49", "type": "link out", "z": "3c6e2c95.3c6e8", "name": "linkout_checktoken", "links": ["gat3vw7m.sfelst"], "x": 1155, "y": 540 }, { "id": "2d2dfeee.d0d9e2", "type": "function", "z": "3c6e2c95.3c6e8", "name": "CheckToken", "func": "console.log(msg);\nif(msg.token==\"ux1le01xxs\")\n    return msg;\nelse\n    node.error(\"wrong token\");\n", "outputs": 1, "noerr": 0, "x": 850, "y": 540, "wires": [["7c504076.3bd49"]] }, { "id": "dfbff31d.a50a7", "type": "comment", "z": "3c6e2c95.3c6e8", "name": "This is an imcompable link from Flow: textBox1: method: TextChanged to Flow: textBox2 method: set_Text and using imcompable method: get_Text", "info": "", "x": 620, "y": 220, "wires": [] }] }]